@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins&family=Roboto:wght@100&display=swap');
*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body{
  background-image: url("./sean-d-AYrHnfpFa24-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
}
#wel{
  color: rgb(255, 255, 255);
  display : flex;
  justify-content: center;
  align-items: center;
  margin: 13vh 0vw 20vh;
  font-size: 2.9rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 15px 5px 8px #ffffff;
}
.game{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
#name{
  width: 280px;
  height: 40px;
  padding: 10px;
  border-radius: 1rem;
  border-color: transparent;
  font-size: 20px;
  box-shadow: rgba(255, 255, 255 , 0.8) 5px 5px 6px ;
}
#start{
  width:200px;
  font-size: 1.6rem;
  font-family: "Audiowide", sans-serif;
  color:#d0e612fd;
  margin: 16%;
  border: none;
  outline: none;
  background: transparent ;
  transform:scale(1) ;
}
#start:hover {
  stroke-opacity: 0.6;
  cursor: pointer;
  transition:0.35s ease-out;
  transform:scale(1.07) ;
}
#start:active{
  transform:scale3d(1.1,0.8,0.6);
  color : rgba(0, 0, 0, 0.295);
}
#logo{
  color : rgb(63, 136, 126);
  font-size:60px ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  
}

